.layout {
    display: flex;
    flex-direction: column-reverse;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    @media (min-width: 768px) {
        flex-direction: row;
    }
}

.sidepanel {
    display: none;
    flex-shrink: 0;
    @media (min-width: 768px) {
        width: var(--sidepanelWidth);
    }
}