@import '~/styles/animations';
@mixin fullScreen {
    width: 100vw;
    height: 100vh;
};
:root {
    --nav-width: 20rem;
    --nav-height: 5rem;
    --blue1: rgb(29, 155, 240)
}

body {
    margin: 0;
    background-color: black;
    height: 100vh;
    &.modalOpen {
        overflow: hidden;
    }
}
* {
    box-sizing:border-box
}
main {
    @media (max-width: 768px) {
        margin-bottom: var(--nav-width);
    }
    @media (min-width: 768px) {
        margin-left: var(--nav-width);
    }
}
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}
.popup {
    position: fixed;
    top: 0;
    right: 0;
    padding: 1rem;
    border-radius: 0.5rem;
    color: black;
    z-index: 999;
    --time: 0;
    >div {
        position: relative;
        --popClr: 120;
        max-width: 21rem;
        padding: 1rem;
        border-radius: 0.5rem;
        // color: hsl(283, 100%, 50%);
        background: linear-gradient(hsl(var(--popClr), 100%, 75%), hsl(var(--popClr), 100%, 33%));
        box-shadow: 0 0 5px black;
        overflow: hidden;
        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: calc(var(--time) / 5 * 100%);
            height: 3px;
            background-color: red;
            transition: width 1000ms linear;
        }
    }
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
#modal > div:first-child {
    top: 0;
    left: 0;
    z-index: 5;
    @include fullScreen;
    background-color: rgba(0,0,0, .5);
    position: fixed;
}