@import "~/styles/mixins";

#container {
    color: white;
    font-size: large;
    font-family: helvetica;
    flex-direction: column;
    display: flex;
    flex-direction: column
}

#formDiv {
    @include flexCenter(column);
    height: 100%;
}

.formControl {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 0.75rem;

    &.error {
        textarea, input {
            border: 2px solid red;
        }
    }
}

.form {
    padding-top: 0.5rem;
    width: 90%;
    max-width: 600px;
    background-color: #00000050;
    border-radius: .5rem;
    box-shadow: 0 0 20px black;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    left: 50%;
    translate: -50%;

    textarea,
    input {
        padding: 0.25rem;
        &:focus,
        &:not(:placeholder-shown) {
            outline: none;

            +label {
                top: 0px;
                transform: translateY(-100%);
                font-size: 12px;
                color: hsl(180, 25%, 75%);
            }
        }
    }

    >div {
        display: flex;
        flex-direction: column;
        width: 90%;
    }
    
    textarea {
        height: 12rem;
    }
    button {
        width: 90%;
        margin-bottom: .5rem;
    }

    label {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0.5rem;
        transition: all 250ms ease-in-out;
        pointer-events: none;
    }

    input {
        height: 25px;
    }
}
.submitBtn {
    background-color: var(--blue1);
    border-radius: 3rem;
    width: 7.5rem;
    border: none;
    font-size: large;
    transition: background-color 250ms ease;
    &:disabled {
        background-color: white;
        color: var(--blue1);
    }
}

@media (max-width: 768px) {
    #form {
        width: 90%;
    }
}