.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
    width: 100%;
    flex-wrap: wrap;
    img, video {
        height: 15rem;
        object-fit: contain;
    }
}