@use '~/styles/mixins';

.container {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    padding: 1.25rem 0;
    img, video {
        width: 50%;
        flex: 1;
        height: 15rem;
        object-fit: contain;
    }
}

.slideshow {
    background-color: unset !important;
    @include mixins.flexCenter;
    height: 80%;
    width: 80%;
    position: relative;
    img, video {
        width: 100%;
        // height: 100%;
    }
    button {
        position: absolute;
        &:hover {
            background-color: var(--gray1);
        }
    }
    [data-btn="prev"] {
        left: 0;
    }
    [data-btn="next"] {
        right: 0;
    }
}
