@use '~/styles/mixins';

@mixin navItemSpace {
    @media (min-width: 768px) {
        width: 80%;
        padding: 0.5rem 0;
        @include mixins.flexCenter
    }
}

.nav {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    position: fixed;
    @media (max-width: 768px) {
        background-color: black;
        justify-content: space-around;
        width: 100vw;
        height: var(--nav-height);
        bottom: 0;
        z-index: 100;
    }
    @media (min-width: 768px) {
        flex-direction: column;
        width: var(--sidepanelWidth);
    }

    img,
    svg {
        height: 2rem;
        width: 2rem;
        object-fit: contain;
    }
    img {
        border-radius: 50%;
    }

    a {
        text-decoration: none;

        &:visited {
            color: inherit;
        }
    }
}

.logoContainer {
    display: none;
    
    @media (min-width: 768px) {
        display: block;
    }
    @include navItemSpace;
}

.logo {
    height: 50px;
    width: 50px;
}

.a {
    display: flex;
    @include navItemSpace;
    align-items: center;
    border-radius: 1rem;
    cursor: pointer;

    &:hover {
        background-color: hsl(0, 0%, 47%);
    }
}

.text {
    display: none;

    @media (min-width: 768px) {
        display: block;
    }
}