@use '~/styles/mixins';

.nav {
    display: flex;
    position: fixed;

    @media (max-width: 768px) {
        bottom: 0px;
    }

    @media (min-width: 768px) {
        left: 0;
        flex-direction: column;
        width: var(--nav-width);
    }
    img, svg {
        height: 2rem;
        width: 2rem;
        object-fit: contain;
    }
    a {
        text-decoration: none;
        &:visited {
            color: inherit;
        }
    }
    > :last-child {
        cursor: pointer;
    }
}

.logo {
    height: 50px;
    width: 50px;
}

.a {
    display: flex;
    margin-left: 2.5rem;
    align-items: center;
    border-radius: 1rem;
    padding: 0.5rem 2rem;
    &:hover {
        background-color: hsl(0, 0%, 47%);
    }
}