.box {
    display: flex;
    width: 100%;
    padding: 1rem;
    $border: 1px solid var(--gray2);
    border-top: $border;
    border-left: $border;
    border-right: $border;
    &:is(:last-child) {
        border-bottom: $border;
    }
    &:hover {
        background-color: var(--gray1);
    }
}

.avatar {
    width: 75px;
    display: flex;
    img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        object-fit: cover;
    }
}
.div {
    flex-grow: 1;
}
.header {
    height: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.date {
    color: var(--gray2);
}
.displayName {
    color: var(--gray2);
}
.username {
    font-weight: bold;
}
.content {
    padding-bottom: 0.75rem;
}

.special {
    color: var(--blue1) !important
}

.btns {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.action {
    --color: white;
    display: flex;
    align-items: center;
    height: 2.5rem;
    width: 2.5rem;
    background: transparent;
    text-shadow: 0 0 10px var(--color);
    border-radius: 50%;
    svg {
        height: 1.5rem;
        width: 1.5rem;
    }
    &:hover {
        color: var(--color);
        box-shadow: 0 0 50px var(--color);
    }
}