@use '~/styles/mixins';

.main {
    @include mixins.fullScreen;
    margin: 0;
    @include mixins.flexCenter(column);
}
.code {
    height: 2rem;
    width: 2rem;
    background: white;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    cursor: pointer;
    &.focus {
        background-color: var(--blue1);
    }

}
.row {
    display: flex;
}
.pasteBtn {
    all: unset;
    height: 2rem;
    width: 2rem !important;
    border-radius: 0;
    margin: 0.5rem auto !important;
    border: 1px solid var(--blue1);
    color: var(--blue1);
    @include mixins.flexCenter
}
.form {
    display: flex;
    flex-direction: column;
    button {
        width: unset;
        margin: .5rem 0
    }
}
